/****************************
 * Estrutura da página
 ****************************/
 /*Contém todos os dados com excessão de topo, menu e rodapé*/
#conteudo{
    min-height: 893px;
    min-width: 320px;
}

#conteudo.full{
    margin-left: 80px;
}

.periodo-trial #conteudo.full{
    padding-top: 40px;
}

#dados{
    color:white;
}

#topo{
    background-image: url('/temas/default/img/bg_topo_rodape.png');
    min-height: 40px;
    min-width: 980px;
    _height: 40px;
    _width: 980px;    
    margin:0 auto;
    min-width: 980px;
}

#topo .conteudo{
    max-width: 940px;
    min-width: 940px;
    _width: 940px;
    height:42px !important;
    min-height:42px !important;
    border:0px;
    padding: 0;
    text-align: left;
    margin:0 auto;
}

#topo .conteudo .secao{
    float: left;
    height: 27px;
    padding-top: 13px;
    position: relative;
    text-align: center;
    color: #ffffff;
}

.panel-box i.fa{
    line-height: 1.42857 ;
}

td.tickets:before {
font-family: FontAwesome;
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
color: white;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
border-radius: 10px;
margin-right: 10px;
}

td.tickets.success:before {
content: "\f00c";
background-color: #a3c86d;
}

td.tickets.danger:before {
content: "\f017";
background-color: #ff7857;
}

tr.tickets.danger{
    background-color : #f6ebe9;
}

tr.tickets.default{
    background-color : #ebf8fb;
}


tr.tickets.success{
    background-color : #f3f9e4;
}

td.tickets.default:before {
/*Não retirar imagem adicionada apenas para preencher o espaço, mas deve ficar invisível*/
content: "\f05a";
visibility: hidden;
}


.top-nav #licencas-topo div,
.top-nav #condominios-topo div{
    display: inline-block;
}

.top-nav #licencas-topo img,
.top-nav #condominios-topo img{
    float: left;
}

.top-nav #licencas-topo .panel,
.top-nav #condominios-topo .panel{
    webkit-box-shadow: none;
    box-shadow: none;
}

.top-nav #licencas-topo form,
.top-nav #condominios-topo form{
    margin: 0;
    background-color: white;
}

.top-nav #licencas-topo form .form-group,
.top-nav #condominios-topo form .form-group{
    border: none;
}

.top-nav #licencas-topo form .panel-body,
.top-nav #condominios-topo form .panel-body{
    padding: 0;
    margin: 0;
}

.top-nav #licencas-topo.cloud{
    background-image: url('/temas/default/img/setapbaixo.png');
    background-position: 95% 58%;
    background-repeat: no-repeat;
}

.top-nav #licencas-topo.cloud:hover{
    background: url('/temas/default/img/setapbaixo.png') 95% 58% no-repeat,url('/temas/default/img/bg_topo_rodape.png') center;        
}

/*#suporte-topo{
    width: 30px !important;
    float: right;    
    background-image: url('/temas/default/img/suporte.png');
    background-position: center;
    background-repeat: no-repeat;
}

#suporte-topo:hover{
    background: url('/temas/default/img/suporte.png') center no-repeat,url('/temas/default/img/bg_topo_rodape.png') center;
}*/

#subtitulo{
   padding-bottom: 5px;
   font-size: 14px!important;
   font-weight: lighter;
}

/****************************
 * Login
 ****************************/

@media screen and (max-height: 340px){
    #logo {
        display: none;
    }
}

@media screen and (max-width: 340px){
    #logo {
        display: none;
    }
}

#suporteTelaLogin{
    position: fixed;
    right: 0px;
    height: 46px;
    border-radius: 100px 0px 0px 100px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(238, 238, 238, 0.33);
    top: 180px;
}

#suporteTelaLogin:hover{
    background-color: rgba(238, 238, 238, 0.55);
}

#suporteTelaLogin a{
    text-decoration: none;
}

#login {
  color: #000;
  background-color: #e5e5e5;
  text-align:center;
}

/*Inputs do login*/
#login div#conteudoLogin .formElement input{
    margin-top: 5px;
    margin-bottom: 5px;
}

#login #logo {
    margin-top: 30%;
    margin-bottom: 20%;
    margin-left: 20px;
}
/*Todos os dados da tela de login*/
#login div#conteudoLogin,#slSocial{
    text-align: left;
    padding: 20px 20px;
    color:#ffffff !important;
    border:0;
    text-align: left;
    width: 320px;
    margin: 0 55;
    font-family: lucida grande, verdana;
    font-size: 12px;
    height: 100%;
    min-height: 505px;
}

* html #login div#conteudoLogin,#slSocial{
    height: 60% !important;
}

#blocoSuporteLogin{
    margin-top: 40%;
}

* html #blocoSuporteLogin{
    margin-top: 10% !important;
    width: 320px !important;
    text-align: center !important;
}

@media screen and (max-height: 675px){
    #login #logo {
        margin-top: 0;
        margin-bottom: 20%;
        margin-left: 20px;
    }
    #blocoSuporteLogin{
        margin-top: 20% !important;
    }
    #login #logo {
        margin-top: 0 !important;
        margin-bottom: 10%;
    } 
    #login div#conteudoLogin,#slSocial{
        min-height: 465px;
    }    
}
@media screen and (max-height: 500px){
    #blocoSuporteLogin{
        margin-top: 10% !important;
    }
    #login div#conteudoLogin,#slSocial{
        min-height: 430px;
    } 
}

/*#emglobaPaginaLogim{
    margin: auto !important;
}*/

#slSocial{
    color:#ffffff !important;
    font-style: normal;
    text-align: center;
}

#slSocial .textoInfo{
    text-align: left;
}

#login .item{
    float: none;
}



/*Tela te login deve ser igual a tela de apps*/
#estruturaLogin{
    width: 100%;
    position: absolute;
    margin-top: 15%;
    text-align: center;
    top:0;
    left:0;
    
}

#erro {
  color: #000;
  background-color: #e5e5e5;
  text-align:center;
}

/*Todos os dados da tela de login*/
#erro div#conteudoErro{
    text-align: left;
    padding: 25px 28px;
    color:#ffffff !important;
    border:0;
    text-align: left;
    max-width: 500px;
    margin: 55px auto;
    font-family: lucida grande, verdana;
    font-size: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#estruturaErro{
    width: 100%;
    position: absolute;
    margin-top: 150px;
    text-align: center;
    top:0;
    left:0;
}

#conteudoErro{
/*      Fallback for web browsers that doesn't support RGBa 
    background: rgb(0, 0, 0);*/
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";   
    
    box-shadow: 0px 0px 5px rgba(00,00,00,0.5);
    -moz-box-shadow: 0px 0px 5px rgba(00,00,00,0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(00,00,00,0.5);    
    
}

#divCenter{
    width: 400px;
    height: 58%;
    left: 50%;
    margin: -130px 0 0 -210px;
    position: absolute;
    top: 25%;
}

/* navegadores modernos */
#bg{z-index:-8888;position:fixed;top:-50%;left:-50%;width:200%;height:200%}
#bg img {position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;min-width:50%;min-height:50%}

/* hakc ie */
* html #bg{top:50px;left:0%;width:100%;height:100%}
* html  #bg img {width:100%;height:100%}

/* hakc opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
    #bg{top:0%;left:0%;width:100%;height:100%}
    #bg img {width:100%;height:100%}
}

#conteudoLogin, #slSocial{
/*      Fallback for web browsers that doesn't support RGBa 
    background: rgb(0, 0, 0);*/
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000)";   
    
    box-shadow: 0px 0px 5px rgba(00,00,00,0.4);
    -moz-box-shadow: 0px 0px 5px rgba(00,00,00,0.4);
    -webkit-box-shadow: 0px 0px 5px rgba(00,00,00,0.4);    
    
}

#conteudoLogin .panel {
    background: rgba(0, 0, 0, 0);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";   
    
}

#conteudoLogin a{
    color: white;
}


/****************************
 * Formulário de busca
 ****************************/


#formBusca{
    display: inline;
}


/****************************
 * Relatórios
 ****************************/

#relatorio h1{
    margin: 0;
}

#relatorio .sobretitulo{
    font-weight: bold;
}

#relatorio .subtitulo{
    font-weight: bold;
    margin: 0 0 20px 0;
}

#relatorio .linhaPar{
    background-color: #EFEFEF;
}
#relatorio table .negrito td{
    font-weight: bold;
    text-align: left;
}

#relatorio table thead th{
    border-bottom:1px solid #ddd;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

#relatorio table tfoot td{
    border-top: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#relatorio table{
    font-size: 10;
}

fieldset#fieldset-DESPESA_LIQUIDAR{
    background-color: lightgray;
    box-shadow : 3px 3px 13px #888;
    border: none
}

#Clients_Condor_Grids_DespesasMensais0 td.form{
    padding : 0;
}
#Clients_Condor_Grids_DespesasMensais0 td{
    height: 50px;
}

.Superlogica_Js_Grid .btn-group{
    text-align: left;
}

#Clients_Financeiro_Grids_Mensalidades1 .plano_cabecalho,
#Clients_Financeiro_Grids_Mensalidades0 .plano_cabecalho{
    padding-top: 10px;
    clear:both;
}

#Clients_Financeiro_Grids_Mensalidades1 .plano_item,
#Clients_Financeiro_Grids_Mensalidades0 .plano_item{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-top: 10px;
    clear:both;
}

#Clients_Financeiro_Grids_Mensalidades1 .plano_item div
#Clients_Financeiro_Grids_Mensalidades0 .plano_item div{
    float:left;
}


#formFechamento{  
    top: -200px;
    z-index: 9999;
    text-align: left;
    width: 250px;
    position: absolute;
    margin-top: 10;
}

/* Novo rodape */

#rodape{
    padding: 0px 20px;
    margin: 0;
    position: relative;
    z-index: 10000;
    bottom: 0;
    max-width: 100%;
    background-color: #28262c;
    color: #fff !important;
}

#rodape .assinatura{
    color: #000 !important;
}

#rodape .conteudo{
    border:0px;
    padding: 0;
}

#rodape .conteudo a{
    color: #fff !important;
}

#rodape .conteudo .secao{
    line-height: 40px;
    border:0px;    
    position: relative;
    text-align: center;
}

#rodape #fechamento .fechamento:hover{
    background-image: url('/temas/default/img/bg_topo_rodape.png');    
}

.module_id_financeiro #rodape #fechamento #btnAbrirFormFechamento{
    background-color: #28262c !important;
    border-color: #28262c !important;
}

.module_id_financeiro #rodape #fechamento #btnAbrirFormFechamento:hover{
    background-image: url('/temas/default/img/bg_topo_rodape.png') !important;
}

.module_id_financeiro #rodape #fechamento{
    line-height: 100% !important;
}

.module_id_financeiro #rodape #fechamento a{
    text-decoration:none;    
    display: block;
    width: 100%;
    padding: 10px 5px;
}

#rodape #tempo-execucao{
    color:#AAA !important;
}

#rodape #api a, #rodape #exportar a, #rodape #suporteOpcoes a{
    text-decoration:none;
    width: 100%;
    text-align: left;
}

#rodape #api:hover, #rodape #exportar:hover, #rodape #suporteOpcoes:hover{
    background-image: url('/temas/default/img/bg_topo_rodape.png');
}

#rodape #exportar{
    height: 36px !important;
    line-height: 20px;
    padding-top: 10px !important;
}

#rodape #exportar #formatos{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:0;
    padding-bottom: 0px;
    padding-top: 6px;
    margin-bottom: 37px;
    background-image: url('/temas/default/img/bg_topo_rodape.png');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#rodape #exportar #formatos a{
    margin: 0 auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    display: block;
    padding: 0;
    border: 0px;
    text-align: center !important;
}

#rodape #exportar #formatos a:hover{
    background-image: url('/temas/default/img/bg_topo_rodape.png');    
}


#rodape #suporteOpcoes{
    height: 36px !important;
    line-height: 20px;
    padding-top: 10px !important;
}

#rodape #suporteOpcoes #suporte{
    width: 171px;
    height: 43px;
    position: absolute;
    bottom:0;
    padding-bottom: 0px;
    padding-top: 6px;
    margin-bottom: 37px;
    background-image: url('/temas/default/img/bg_topo_rodape.png');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#rodape #suporteOpcoes #suporte a{
    margin: 0 auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    display: block;
    padding: 0;
    border: 0px;
    text-align: center !important;
}

#rodape #suporteOpcoes #suporte a:hover{
    background-image: url('/temas/default/img/bg_topo_rodape.png');    
}
/*##################*/

#trial{
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    height: 29px !important;
    min-height: 29px !important; 
    padding-top: 5px;
    position: fixed;
    z-index:1010;
}
#trial img{
    vertical-align: sub;
}

@media screen and (max-width: 340px) , screen and (max-height: 320px) and (orientation: portrait){
    #trial{
        height: 43px !important;
        min-height: 43px !important; 
    }
}

@media screen and (max-width: 767px) {
    #trial{
        top: 0;
    }    
}

#avisos{
    width:80%;
    margin: 10px auto;
}

#avisos .aviso{
    border-bottom : 1px dotted #CCC;
    padding: 10px 20px 20px 20px;
    margin-bottom: 5px;
    background-color: #F5F5F5;
}

#avisos .aviso.nao-visualizado{
    background-color: #E1E3E5;
}

#avisos p{
    padding: 7px 0;
}

#containerAlterarSacado.alinharADireita{
    float:right;
    margin-bottom: 60px;
}

#div-logo-empresa{
    text-align: center;
    margin: 40px 0px 40px 0px;
}

#msgLoginExterno{
    margin: 0 auto;
    width: 30%;
    text-align: left;
}

#msgCadastroContatoExterno{
    width: 45%;
    margin: 70px auto;
    text-align: left;
}

#clientes_confirmar select{
    width: 280px;
}

#formCheckout{
    text-align: center;
}

#formCheckout input[type='submit'][disabled]{
    background-color:gray;
    cursor: auto;
}
#formCheckout input[type='submit']{
    background-color: #61AE24;
    border:none;
    padding: 5px 20px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

#dadosArrecadacoesNormaisAvulsas,
#dadosArrecadacoesExtrasAvulsas{
    margin-top: -60px;
    margin-bottom: 80px;
}


#msgSalva{
    width:150px;
}