#formBusca,#barraDeFerramentas a,
#topo #menu,
#breadcrumbs,
#rodape,
.classGridPaginacao,
.bg2,
.fr b,
#menuTopo, 
.noprint, #outrosFormatos, 
#tempoDeExecucao,
input[type='checkbox'].Superlogica_Js_Grid_Marcador,.alerta,
td[coluna='botoes'] img,
.Superlogica_Js_Grid_Marcadores,
.paginacaoPorData,
.joyride-content-wrapper,
#Suporte,
.module_id_areadocliente .barraAuxiliar,
.module_id_areadocliente .header .complemento,
.module_id_areadocondomino .barraAuxiliar,
.module_id_areadocondomino .header .complemento,
.sidebar,
.navbar-fixed-top,
.btn,
.btn-group,
.dropdown-menu,
.nav,
.navbar-static-top
{
    display:none;
    visibility: hidden;
}

.panel-default{
    margin-bottom: 20px;
}

.panel-default div{
    display:block;
}

a{
    text-decoration: none;
}

.quebrarPaginaImpressao{
    page-break-before: always;
}

.container-fluid.content {
    margin-top: 0px !important;
}

#conteudo.full {
    margin-left: 0px !important;
}

.module_id_areadocliente #rodape,
.module_id_areadocondomino #rodape{
    display:block;
    visibility: visible;
}

.module_id_areadocliente .corpoBarraAuxiliar,
.module_id_areadocondomino .corpoBarraAuxiliar{
    width:100%;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
}

#subtitulo {
    padding-bottom: 5px;
    font-size: 9px!important;
    font-weight: lighter;
}

.main {
    margin-top: 0px !important;
}

.fr{width: 200px !important;}

/*mostra os elementos que possue essa classe, que no browser estavam escondidos*/
.somenteImpressao{
    display:block;
}
/*
td[coluna="checkbox"],
th[coluna="checkbox"],
td[coluna="checkbox"] *,
th[coluna="checkbox"] *,
td[coluna="botoes"],
th[coluna="botoes"],
td[coluna="botoes"] *,
th[coluna="botoes"] *{
    width: 0% !important;
    height: 0% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }*/

.label {
  background-color: #ddd !important;
  border-radius: .25em !important;
  padding: .2em .8em !important;
  font-size: 75% !important;
}
.Superlogica_Js_Grid .label {
    line-height: inherit !important;
}

.Superlogica_Js_Grid th, .Superlogica_Js_Grid td{
    padding: 5px 0px;
    border: none;
}

input,fieldset,select{
    border:none;
}

.boletopendente, .boletoacordo, .boletovencido, .boletoliquidado{
    margin: 0px;
}

.panel-profile{
    font-size: 16px !important;
}

.panel-profile .fa-user{
    display:none;
    padding: 0px;
    margin: 0px;
}